form.signup,
form.login {
    margin-top: 50px;
}

h5 {
    font-weight: 400;
}

.trip {
    display: block;
}

span.badge {
    opacity: 75%;
}

nav {
    opacity: 50%;
}

body {        
    background-image: url(white-boats-on-body-of-water-2265876.jpg);
    background-size: cover;    
    background-attachment: fixed;        
}

h1 {
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    font-size: 5rem;    
    margin-top: 40px;
    margin-bottom: 50px;    
    color: whitesmoke;
    text-shadow: rgba(88, 87, 114, 0.815) 1px 0 10px;
}

.footer {
    position: relative;
    opacity: 95%;
    bottom: -4rem;
    width: 100%;
    background-color: rgba(74, 211, 221, 0.603);
    color: white;
    text-align: center;
    margin:1px;
    padding: 10px;
    height:50px;   
}

div.card {
    background-color: rgba(235, 247, 247, 0.911);
    font-family: 'El Messiri', sans-serif;
    margin:auto;
} 

.new-trip{
    background-color: white;
}

@media screen and (max-width: 600px) {
    h1 {
      font-size:50px;
    }
  }
  @media screen and (max-width: 375px) {
    h1 {
      font-size:45px;
    }
  }
  